@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
@import 'tailwindcss';
@theme {
  --font-sans: 'Noto Sans KR', sans-serif;
  --font-pretendard: 'Pretendard', sans-serif;
  /* breakpoints */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1510px;

  /* Color System */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-body: color-mix(in srgb, #ffffff 75%, transparent);
  --color-red: #f84e4e;
  --color-blue-primary: #1670fb;
  --color-blue-dim: #0d4db5;
  --color-blue-mint: #91f8ff;
  --color-navy-deep: #05265a;

  /* Text Color */
  --color-text-primary: #ffffff;
  --color-text-body: color-mix(in srgb, #ffffff 75%, transparent);
}

@layer components {
  .title-xl {
    font-size: 38px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .title-l {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .title-m {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .title-s {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .body1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .body2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
  }

  .body3 {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
  }

  .text-button {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .caption {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
  }

  .mobile-title-xl {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
  }

  .mobile-title-l {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
  }

  .mobile-title-m {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0px;
  }

  .mobile-body-xl {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
  }

  .mobile-body-l {
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
  }

  .mobile-body-m {
    font-size: 10px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 0%, #05265a 74%);
}

@keyframes drawLineSm {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}

@keyframes drawLineMd {
  from {
    height: 0;
  }
  to {
    height: 250px;
  }
}

@keyframes drawLineLg {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

@layer utilities {
  .animate-draw-line {
    animation: drawLineSm 1.5s ease-out forwards;
  }

  @media (min-width: 768px) {
    .animate-draw-line {
      animation: drawLineMd 1.5s ease-out forwards;
    }
  }

  @media (min-width: 1510px) {
    .animate-draw-line {
      animation: drawLineLg 1.5s ease-out forwards;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-down {
    animation: slideDown 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}
